body {
  margin: 0;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
}

input.task-todo, 
input.task-todo:focus {
  background-color: transparent;
  color: #797979;
}

input.task-todo::placeholder {
  color: #656464;
}

.card {
  margin: 0 auto;
  max-width: 700px;
}

li.list-group-item {
  cursor: pointer;
}

.toggleBar {
  cursor: pointer;
}

.dark {
  background-color: #212529;
  color: #FFFFFF;
}

.light {
  background-color: #FFFFFF;
  color: #212529;
}
